{% extends 'app/client/base.html' %}

{% load static %}
{% load humanize %}
{% load custom_tags %}

{% block title %}
CISCO | Step 5
{% endblock title%}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/reserve.css' %}">
{% endblock additional_css %}

{% block content_body %}
<div class="container-fluid p-3">
    <div class="container">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Final Step: Booking Payment</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="alert alert-warning alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h5><i class="icon fas fa-exclamation-triangle"></i> Note!</h5>
                            You have a successfull online booking transaction, Please enter your Booking ID and proceed to payment. Once you have as successfull payment, please save you reference payment ID.
                        </div>
                        <hr>
                        <form method="POST" id="form-book-id-search">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-10">
                                    <input name="booking_id" type="text" class="form-control form-control-lg text-lg" placeholder="Enter Booking ID" required>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary btn-lg text-lg w-100">
                                        <i class="fas fa-search mr-1"></i> Search
                                    </button>
                                </div>
                            </div>
                        </form>
                        

                        
                    </div>
                    <hr>
                    <div class="card-body booking-details">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content_body %}

{% block rearscript %}

<script src="{% static 'js/getcookies.js' %}"></script>
<script src="{% static 'js/client/step5.js' %}"></script>
{% endblock rearscript %}